In [1]:
import pandas as pd
import numpy as np
from config import WEATHER_FILE, CT_CATALOG_FILE, \
BUILDING_DEMAND_FILE, BASE_CT_THRESHOLD, \
OVERDIMENSIONING_THRESHOLD, CT_DESIGN_FILE, \
CT_AIRFLOW_FILE, CT_WATERFLOW_FILE, CT_HWT_FILE, CT_TDRY_FILE
from scripts.coolingtowers import set_ambient, simulate_CT,calc_CTheatload, parse_BldgToCTs

psychrolib initialized to SI units

In [2]:
CT_catalog = pd.read_excel(CT_CATALOG_FILE, engine='openpyxl').set_index('CT')
CT_catalog.head()

,Capacity [kW],HWT [°C],CWT [°C],WBT [°C],approach [C°],range [C°],water flow [kg/s],air flow [kg/s],L/G,evap loss [%],Fan diameter [m],CT perf slope,CT perf y-int,Min Range [C°],Max per unit water flow,Min per unit water flow,Fan area [m2]
CT,,,,,,,,,,,,,,,,,
100,100,38,32.8,29.734008,3.065992,5.2,4.596264,2.27724,2.018349,0.782234,0.9,0.647737,13.540172,4,1.2,0.2,0.636173
150,150,38,32.8,29.734008,3.065992,5.2,6.894396,3.41586,2.018349,0.782234,0.9,0.647737,13.540172,4,1.2,0.2,0.636173
200,200,38,32.8,29.734008,3.065992,5.2,9.192528,4.55448,2.018349,0.782234,1.2,0.647737,13.540172,4,1.2,0.2,1.130973
300,300,38,32.8,29.734008,3.065992,5.2,13.788792,6.83172,2.018349,0.782234,1.2,0.647737,13.540172,4,1.2,0.2,1.130973
400,400,38,32.8,29.734008,3.065992,5.2,18.385057,9.10896,2.018349,0.782234,1.6,0.647737,13.540172,4,1.2,0.2,2.010619

In [3]:
#read the weather conditions
weather = pd.read_excel(WEATHER_FILE, engine='openpyxl')
Tamb = weather['Tamb [°C]'].values
RH = weather['RH [-]'].values
air_i, WBT = set_ambient(Tamb, RH)
air_i, WBT

((Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.600 RH,
  Humid air at 26.00 °C, 0.600 RH,
  Humid air at 26.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.600 RH,
  Humid air at 27.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH,
  Humid air at 26.00 °C, 0.900 RH),
 array([24.69534872, 24.69534872, 24.69534872, 24.69534872, 24.69534872,
        24.69534872, 24.69534872, 20.3383437 , 20.3383437 , 20.3383437 ,
        21.2056345 , 21.2056345 , 21.2056345 , 21.2056345 , 21.2056345 ,
        21.2056345 , 21.2056345 , 25.66719249, 24.69534872, 24.69534872,
        24.69534872, 24.69534872, 24.69534872, 24.69534872]))

In [4]:
#read the thermal load
building_demands = pd.read_excel(BUILDING_DEMAND_FILE, sheet_name='DEMAND_KWH')
building_properties = pd.read_excel(BUILDING_DEMAND_FILE, sheet_name='PROPERTIES').set_index('Name')
building_groups = pd.read_excel(BUILDING_DEMAND_FILE, sheet_name='GROUPS')
#compute extra properties
max_load_series = pd.DataFrame({'Max_load_kWh': building_demands.max(0)})
min_cap_opp = pd.DataFrame({'Min_Cap_opp': building_demands.replace(0, np.NaN).min(0)/building_demands.max(0)})
building_demands = building_demands.replace(np.NaN, 0.0)
building_properties = building_properties.merge(max_load_series, left_index=True, right_index=True)
building_properties = building_properties.merge(min_cap_opp, left_index=True, right_index=True)
building_properties.head()

       height_ag  floors_ag  Max_load_kWh  Min_Cap_opp
Name
B1032          9          3    147.478142     0.007838
B1033         15          5    315.674200     0.168825
B1034         13          4    761.320137     0.171442
B1035          9          3    379.720132     0.157305
B1036          4          1     75.357230     0.199396

In [5]:
#agreagate thermal loads
group_demand_dict = {}
for i, row in building_groups.iterrows():
    building_list = row['Buildings'].split (",")
    demand = np.zeros(building_demands.shape[0])
    for building in building_list:
        demand += building_demands[building].values
    group_demand_dict[row['Group']] = demand
group_demand_df = pd.DataFrame(group_demand_dict)
group_demand_df.head()

   G16          G17          G18
0  0.0     0.000000   625.944660
1  0.0     0.000000   580.758764
2  0.0     0.000000   553.589521
3  0.0     0.000000   526.196145
4  0.0  6650.465858  1126.804359

In [6]:
#Size cooling towers per group
def find_upper_neighbours(value, df, colname):
    exactmatch = df[df[colname] == value]
    if not exactmatch.empty:
        return exactmatch.index
    else:
        lowerneighbour_ind = df[df[colname] < value][colname].idxmax()
        upperneighbour_ind = df[df[colname] > value][colname].idxmin()
        upperneighbour = df[colname][upperneighbour_ind]
        return upperneighbour

BldgToCTs = {}
for (group, demand) in group_demand_df.iteritems():
    peak = max(demand)
    average = np.mean(demand.replace(0, np.NaN))
    baseload = BASE_CT_THRESHOLD * peak
    peak_unit_size = peak - average
    intermediate_unit_size = average - baseload
    base_unit_size = baseload
    
    #checks 
    if peak_unit_size > CT_catalog['Capacity [kW]'].min():
        peak_unit_size = find_upper_neighbours(peak_unit_size, CT_catalog, 'Capacity [kW]')
    else:
        peak_unit_size = CT_catalog['Capacity [kW]'].min()
    
    if intermediate_unit_size > CT_catalog['Capacity [kW]'].min():
        intermediate_unit_size = find_upper_neighbours(intermediate_unit_size, CT_catalog, 'Capacity [kW]')
    else:
        intermediate_unit_size = CT_catalog['Capacity [kW]'].min()
    
    if base_unit_size > CT_catalog['Capacity [kW]'].min():
        base_unit_size = find_upper_neighbours(base_unit_size, CT_catalog, 'Capacity [kW]')
    else:
        base_unit_size = CT_catalog['Capacity [kW]'].min()
    
    BldgToCTs[group] = peak_unit_size, intermediate_unit_size, base_unit_size
BldgToCTs

{'G16': (100, 100, 100), 'G17': (5000, 10000, 5000), 'G18': (1000, 800, 500)}

In [7]:
#split the load per Cooling tower capacity
CT_load, results_columns = calc_CTheatload(group_demand_df, BldgToCTs, CT_catalog, t_from=None, t_to=None)
CT_load

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.72149852e+02, 2.17719882e+02,
        1.36074926e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.52503811e+02, 2.02003048e+02,
        1.26251905e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.40691096e+02, 1.92552877e+02,
        1.20345548e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.28780933e+02, 1.83024746e+02,
        1.14390466e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.66261646e+03,
        3.32523293e+03, 1.66261646e+03, 4.89914939e+02, 3.91931951e+02,
        2.44957469e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.25199620e+03,
        6.50399239e+03, 3.25199620e+03, 7.35730814e+02, 5.88584651e+02,
        3.67865407e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.70731200e+03,
        5.41462401e+03, 2.70731200e+03, 4.49516815e+02, 3.59613452e+02,
        2.24758407e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.66019209e+03,
        5.32038418e+03, 2.66019209e+03, 4.48967152e+02, 3.59173722e+02,
        2.24483576e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.77996818e+03,
        5.55993637e+03, 2.77996818e+03, 4.72383202e+02, 3.77906562e+02,
        2.36191601e+02],
       [3.85315068e-01, 3.85315068e-01, 3.85315068e-01, 2.70384265e+03,
        5.40768530e+03, 2.70384265e+03, 4.70420958e+02, 3.76336766e+02,
        2.35210479e+02],
       [3.31192511e+00, 3.31192511e+00, 3.31192511e+00, 2.77762263e+03,
        5.55524527e+03, 2.77762263e+03, 4.94613166e+02, 3.95690533e+02,
        2.47306583e+02],
       [4.74298813e+00, 4.74298813e+00, 4.74298813e+00, 2.71536584e+03,
        5.43073168e+03, 2.71536584e+03, 4.89995260e+02, 3.91996208e+02,
        2.44997630e+02],
       [1.88544712e+01, 1.88544712e+01, 1.88544712e+01, 2.52865062e+03,
        5.05730123e+03, 2.52865062e+03, 4.54652989e+02, 3.63722391e+02,
        2.27326494e+02],
       [2.07152146e+01, 2.07152146e+01, 2.07152146e+01, 2.77429294e+03,
        5.54858589e+03, 2.77429294e+03, 4.99844465e+02, 3.99875572e+02,
        2.49922232e+02],
       [2.22686584e+01, 2.22686584e+01, 2.22686584e+01, 2.77981979e+03,
        5.55963959e+03, 2.77981979e+03, 5.08595089e+02, 4.06876071e+02,
        2.54297544e+02],
       [2.38835890e+01, 2.38835890e+01, 2.38835890e+01, 2.80569948e+03,
        5.61139896e+03, 2.80569948e+03, 5.12087868e+02, 4.09670294e+02,
        2.56043934e+02],
       [2.54133078e+01, 2.54133078e+01, 2.54133078e+01, 2.90332448e+03,
        5.80664896e+03, 2.90332448e+03, 5.19145196e+02, 4.15316157e+02,
        2.59572598e+02],
       [2.78535361e+01, 2.78535361e+01, 2.78535361e+01, 2.86204624e+03,
        5.72409249e+03, 2.86204624e+03, 5.26709354e+02, 4.21367484e+02,
        2.63354677e+02],
       [3.00811726e+01, 3.00811726e+01, 3.00811726e+01, 2.69776378e+03,
        5.39552755e+03, 2.69776378e+03, 9.10067973e+02, 7.28054378e+02,
        4.55033986e+02],
       [3.21838521e+01, 3.21838521e+01, 3.21838521e+01, 2.12140897e+03,
        4.24281794e+03, 2.12140897e+03, 6.91856093e+02, 5.53484874e+02,
        3.45928046e+02],
       [3.34640037e+01, 3.34640037e+01, 3.34640037e+01, 2.04999875e+03,
        4.09999750e+03, 2.04999875e+03, 6.67860783e+02, 5.34288626e+02,
        3.33930391e+02],
       [3.49226009e+01, 3.49226009e+01, 3.49226009e+01, 2.01106931e+03,
        4.02213862e+03, 2.01106931e+03, 6.47869487e+02, 5.18295589e+02,
        3.23934743e+02],
       [3.62545297e+01, 3.62545297e+01, 3.62545297e+01, 7.55348914e+02,
        1.51069783e+03, 7.55348914e+02, 4.34376787e+02, 3.47501430e+02,
        2.17188394e+02],
       [4.91593808e+01, 4.91593808e+01, 4.91593808e+01, 5.58661312e+02,
        1.11732262e+03, 5.58661312e+02, 3.82977235e+02, 3.06381788e+02,
        1.91488618e+02]]) <Unit('kilowatt')>

In [8]:
results_columns

['G16', 'G16', 'G16', 'G17', 'G17', 'G17', 'G18', 'G18', 'G18']

In [9]:
CT_design = parse_BldgToCTs(BldgToCTs, CT_catalog)
CT_design['groups'] = results_columns
CT_design['ID'] = ['CT'+str(x) for x in CT_design.index]
CT_design.head()

,Capacity [kW],HWT [°C],CWT [°C],WBT [°C],approach [C°],range [C°],water flow [kg/s],air flow [kg/s],L/G,evap loss [%],Fan diameter [m],CT perf slope,CT perf y-int,Min Range [C°],Max per unit water flow,Min per unit water flow,Fan area [m2],groups,ID
0,100.0,38.0,32.8,29.734008,3.065992,5.2,4.596264,2.277240,2.018349,0.782234,0.90,0.647737,13.540172,4.0,1.2,0.2,0.636173,G16,CT0
1,100.0,38.0,32.8,29.734008,3.065992,5.2,4.596264,2.277240,2.018349,0.782234,0.90,0.647737,13.540172,4.0,1.2,0.2,0.636173,G16,CT1
2,100.0,38.0,32.8,29.734008,3.065992,5.2,4.596264,2.277240,2.018349,0.782234,0.90,0.647737,13.540172,4.0,1.2,0.2,0.636173,G16,CT2
3,5000.0,38.0,32.8,29.734008,3.065992,5.2,229.813208,113.862005,2.018349,0.782234,4.80,0.647737,13.540172,4.0,1.2,0.2,18.095574,G17,CT3
4,10000.0,38.0,32.8,29.734008,3.065992,5.2,459.626416,227.724010,2.018349,0.782234,6.58,0.647737,13.540172,4.0,1.2,0.2,34.004913,G17,CT4

In [10]:
#simulate
res = simulate_CT(CT_load, CT_design, air_i, pump_ctrl='Range limit', fan_ctrl=True)
airflow = res['air flow']
waterflow = res['water flow']
HWT = res['HWT']
waterflow = res['return water flow']
T_drybulb_out = res['air_o']
T_drybulb_out.columns = CT_design['ID']
T_drybulb_out.head()

ID,CT0,CT1,CT2,CT3,CT4,CT5,CT6,CT7,CT8
0,"Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 30.95 °C, 0.950 RH","Humid air at 30.95 °C, 0.950 RH","Humid air at 30.95 °C, 0.950 RH"
1,"Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 30.85 °C, 0.950 RH","Humid air at 30.85 °C, 0.950 RH","Humid air at 30.85 °C, 0.950 RH"
2,"Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 30.79 °C, 0.950 RH","Humid air at 30.79 °C, 0.950 RH","Humid air at 30.79 °C, 0.950 RH"
3,"Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 30.73 °C, 0.950 RH","Humid air at 30.73 °C, 0.950 RH","Humid air at 30.73 °C, 0.950 RH"
4,"Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 26.00 °C, 0.900 RH","Humid air at 31.27 °C, 0.950 RH","Humid air at 31.27 °C, 0.950 RH","Humid air at 31.27 °C, 0.950 RH","Humid air at 32.08 °C, 0.950 RH","Humid air at 32.08 °C, 0.950 RH","Humid air at 32.08 °C, 0.950 RH"

In [11]:
#printout result
def foo_bar(x):
    return x.magnitude
CT_design.to_csv(CT_DESIGN_FILE, index=False)
pd.DataFrame(airflow, columns=CT_design['ID']).applymap(foo_bar).to_csv(CT_AIRFLOW_FILE, index=False)
pd.DataFrame(waterflow, columns=CT_design['ID']).applymap(foo_bar).to_csv(CT_WATERFLOW_FILE, index=False)
pd.DataFrame(HWT, columns=CT_design['ID']).applymap(foo_bar).to_csv(CT_HWT_FILE, index=False)
T_drybulb_out.to_csv(CT_TDRY_FILE, index=False)